* {
  box-sizing: border-box;
  padding: 0.5%;
  font-family: Arial, Verdana;
  text-align: center;
  font-size: 1.1em;
}

body {
  width: 75%;
  margin: 0 auto;
}

h1,
h3 {
  color: aliceblue;
}

h1 {
  background-color: burlywood;
  font-size: 2em;
}

h3 {
  background-color: darkturquoise;
  font-size: 1.5em;
}

li,
lu {
  text-align: left;
}

img {
  width: 25%;
  height: auto;
}
